<%- include ('./partials/head.ejs') %>
<%- include ('./partials/headerStyles.ejs') %>

</head>
<body>
<div class="container-fluid content-container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-7 col-xl-7 mx-auto">
            <%- include ('./partials/header.ejs', {activePage: "Home"}) %>
            <p>Nope, nothing here.</p>
        </div>
    </div>

    
</div>

</body>

</html>