<%- include('./partials/head.ejs') %>
    
    <style>
        /*
        Page specific styles
        */
    </style>

<%- include('./partials/header.ejs', {active: 'Home'}) %>

    <div class="container-md">
        <p>hello</p>
    </div>

</body>