<% include ./partials/head.ejs %>
<% include ./partials/headerStyles.ejs %>
    
    <style>
        /*
        Page specific styles
        */
    </style>

</head>
<body>

    <div class="container-md mx-auto">
        <%- include('./partials/header.ejs', {activePage: 'Home'}) %>

        <p>yo</p>
    </div>

</body>
</html>