<!DOCTYPE html>

<html lang='en'>

    <head>
        <title>Stanford Data Stories</title>

        <meta name="description" content="Stanford Data Stories">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

        <link rel="stylesheet" href="/styles/global.css">

        <link rel="stylesheet" href="/styles/external/bootstrap.min.css">
        <script src="/lib/external/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif">

