<div class="header-container sticky-top">
    <a href="http://dams.stanford.edu/" target="_blank">
        <img src="/media/logo.png" class="desktop-img" id="logo-img"></img>
    </a>
    <a href="/" class="header"><h1>Stanford Data Stories</h1></a>

    <a href="http://dams.stanford.edu/" target="_blank">
        <img src="/media/logo-square.jpg" class="mobile-img" id="logo-img-mobile"></img>
    </a>
    <nav class="navbar navbar-expand-custom navbar-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="nav navbar-nav mr-auto">

                <% const pages = {"Politics": "/politics", "Environment": "/environment", "COVID-19": "/covid", "Demographics": "/demographics"}; %>
                <% console.log(page); %>
                <% for(var page in pages){ %>
                <% let itemClass = (page === activePage) ? "nav-item active" : "nav-item"; %>
                <li class="<%=itemClass%>">
                    <a href="<%=pages[page]%>"><%=page%></a>
                </li>
                <% } %>

            </ul>

        </div>

    </nav>
</div>
